@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}

:root {
    --bg-theme-color: #ffffff;
    --main-theme-color: #afe0ff;

    --black: #000;
    --white: #ededed;
    --grey: #d8d8d8;
    --white-card: #f7f7f7;
    --font: #000;
    /* criar cor par os botões separadamente */
}

#theme-hide {
    display: none;
}

/* .dragging {
    scale: 1.05;
    background-color: #003b43;
    color: white;
    opacity: 0.5;
} */

/* --------------------------------------------- */

.header {
    background: var(--main-theme-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7rem;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
    height: 5rem;
}

.header .box1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .box1 img {
    height: 40px;
}

.header .box1 #logoLightHide{
    display: none;
}

.header .box1 #logoDarkHide{
    display: none;
}

.header h1 {
    color: var(--font);
}

.header i {
    font-size: 1.5rem;
    color: var(--font);
    cursor: pointer;
}

.header i:hover {
    scale: 1.1;
    transition: .3s;
}

.header i:not(hover){
    transition: .4s;
}

.header .theme {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    background: #858585; /* mudar */
    right: 6rem;
    top: 6rem;
    width: 250px;
    height: 450px;
    border-radius: 15px;
    padding: 1rem 0;
}

.header .theme .theme-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .theme .theme-title h2 {
    color: var(--font);
}

.header .theme .theme-title i {
    position: absolute;
    right: 1rem;
    color: var(--font);
    font-size: 1.2rem;
    cursor: pointer;
}

.header .theme .tema {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0 2rem;
}

.header .theme .tema p {
    color: var(--font);
}

.header .theme .tema img {
    cursor: pointer;
}

.header .theme .tema img:hover {
    scale: 1.1;
    transition: .3s;
}

.header .theme .tema img:not(:hover) {
    transition: .3s;
}


/* --------------------------------------------- */
section {
    /* background-color: #2a2a2a; */
    background-color: var(--bg-theme-color);
    height: 100vh;
}

.task-container {
    padding: 7rem 1rem 0 1rem;
}

.task-container,
.box-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 2.5rem;
}

.task-container .box-container .card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-card);
    width: 300px; height: 100%;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 7px 7px 10px 3px rgba(0,0,0,0.1);
}

.task-container .box-container .card .title {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.task-container .box-container .card .title p {
    color: var(--font);
}

.task-container .box-container .card .title i {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--font);
}

.task-container .box-container .card .box-list {
    margin-top: 1rem;
}

.task-container .box-container .card .box-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background: var(--grey);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.task-container .box-container .card .box-list li p {
    color: var(--font);
}

button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background: none;
    color: var(--font);
}

.task-container .box-container .card div {
    display: flex;
    justify-content: space-between;
}

.task-container .box-container .card .task-title {
    border: none;
    border-bottom: 2px solid var(--font);
    font-size: 1rem;
    background: transparent;
    width: 80%;
}

.task-container .box-container .card .task-title::placeholder {
    color: var(--font);
}

.task-container .box-container .card .task-title:focus {
    outline: none;
    color: var(--font);
}

.task-container .box-container .card .add-task-btn {
    background-color: var(--main-theme-color);
    border: none;
    font-size: 1.5rem;
    padding: .1rem .7rem;
    border-radius: 100%;
    cursor: pointer;
    color: var(--font);
}

/* --------------------------------------------------------------- */

.task-container .add-card{
    width: 300px; height: 100%;
    display: flex;
    justify-content: space-between;
    order: 2;
}

.task-container .add-card .card-title {
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    background: transparent;
    width: 85%;
}

.task-container .add-card .card-title::placeholder {
    color: var(--black);
}

.task-container .add-card .card-title:focus {
    outline: none;
}

.task-container .add-card .add-card-btn {
    background-color: var(--main-theme-color);
    border: none;
    font-size: 1.5rem;
    padding: .1rem .7rem;
    border-radius: 100%;
    cursor: pointer;
}

/* --------------------------------------------------------------------- */


button {
    outline: none;
    cursor: pointer;
}

.modalContainer {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 11;
}

.modalContainer .modal { /* modal */
    top: 0;
    left: 0;
    background-color: var(--white-card);
    width: 500px;
    min-height: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modalContainer .modal .modalTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.modalContainer .modal .modalTitle p {
    color: var(--font);
}

.modalContainer .modal .modalTitle input:focus {
    background: var(--white);
    border: none;
    outline: none;
    border-radius: 7px;
}

.modalContainer .modal .modalDescription {
    margin-bottom: 2em;
    line-height: 1.5em;
}

.modalContainer .modal .modalDescription p {
    color: var(--font);
}

.modalContainer .modal .modalDescription textarea {
    width: 100%;
    height: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--font);
    outline: none;
    resize: none;
    color: var(--font);
}

.modalContainer .modal .modalDescription button {
    background-color: var(--main-theme-color);
    color: var(--font);
    border: none;
    border-radius: 7px;
    padding: .3rem .6rem;
    margin-top: 0.5em;
    font-size: 1rem;
}

.modalContainer .modal .modal-btns .commentsInput {
    margin-right: 1rem;
    border: none;
    border-bottom: 1px solid var(--font);
    font-size: .8rem;
    background: transparent;
}

.modalContainer .modal .modal-btns .commentsInput::placeholder {
    color: var(--font);
}

.modalContainer .modal .modal-btns .commentsInput:focus {
    outline: none;
    color: var(--font);
}

.modalContainer .modal .modal-btns .commentsButton {
    background-color: var(--main-theme-color);
    color: var(--font);
    border: none;
    font-size: 1rem;
    padding: .1rem .55rem;
    border-radius: 100%;
    cursor: pointer;
}

.modalContainer .modal .menuComments {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.modalContainer .modal .menuComments div {
    border-radius: 5px;
    background: var(--grey);
    padding: 0.5rem .5rem;
    font-size: .8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalContainer .modal .menuComments div i {
    font-size: 1.2rem;
    cursor: pointer;
}